{% extends 'stocks/base_stocks.html' %}

{% block breadcrumb %}
    <li id="home"><a href="/stocks/main.html">主页</a></li>
    <li id="stockin"><a href="/meterial/stockin.html">散料入库信息</a></li>
    <li>
        {% if new %}
            新建散料入库
        {% else %}
            修改入库信息
        {% endif %}
    </li>
{% endblock %}

{% block maincontent %}
    <form id="stockinForm" class="form-horizontal container" method="post" action="#">
        {% csrf_token %}
        {% for hidden in form.hidden_fields() %}
            {{ hidden }}
        {% endfor %}

        <div class="panel panel-default">
            <div class="panel-body">
                {% if form.non_field_errors() %}
                    <ul style="list-style-type:none">
                        {% for error in form.non_field_errors() %}
                            <li align="center" class="text-warning"><h2>{{ error }}</h2></li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="row">
                    {% if form.name.errors %}
                        <div class="form-group col-md-6 has-warning">
                    {% else %}
                        <div class="form-group col-md-6">
                    {% endif %}

                        <label for="{{ form.name.id_for_label }}" class="col-sm-4 control-label"><strong>散料名称：</strong></label>
                        <div class="col-sm-8">
                            {{ form.name }}
                        </div>
                        {% if form.name.errors %}
                            <ul style="list-style-type:none">
                            {% for error in form.name.errors %}
                                <li align="center" class="text-warning"><strong>{{ error }}</strong></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    {% if form.amount.errors %}
                        <div class="form-group col-md-6 has-warning">
                    {% else %}
                        <div class="form-group col-md-6">
                    {% endif %}

                        <label for="{{ form.amount.id_for_label }}" class="col-sm-4 control-label"><strong>数量：</strong></label>
                        <div class="col-sm-8">
                            {{ form.amount }}
                        </div>
                        {% if form.amount.errors %}
                            <ul style="list-style-type:none">
                            {% for error in form.amount.errors %}
                                <li align="center" class="text-warning"><strong>{{ error }}</strong></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    {% if form.warehouse.errors %}
                        <div class="form-group col-md-6 has-warning">
                    {% else %}
                        <div class="form-group col-md-6">
                    {% endif %}

                        <label for="{{ form.warehouse.id_for_label }}" class="col-sm-4 control-label"><strong>库房名称：</strong></label>
                        <div class="col-sm-8">
                            {{ form.warehouse }}
                        </div>
                        {% if form.warehouse.errors %}
                            <ul style="list-style-type:none">
                            {% for error in form.warehouse.errors %}
                                <li align="center" class="text-warning"><strong>{{ error }}</strong></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    {% if form.shelf.errors %}
                        <div class="form-group col-md-6 has-warning">
                    {% else %}
                        <div class="form-group col-md-6">
                    {% endif %}

                        <label for="{{ form.shelf.id_for_label }}" class="col-sm-4 control-label"><strong>货架：</strong></label>
                        <div class="col-sm-8">
                            {{ form.shelf }}
                        </div>
                        {% if form.shelf.errors %}
                            <ul style="list-style-type:none">
                            {% for error in form.shelf.errors %}
                                <li align="center" class="text-warning"><strong>{{ error }}</strong></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    {% if form.layer.errors %}
                        <div class="form-group col-md-6 has-warning">
                    {% else %}
                        <div class="form-group col-md-6">
                    {% endif %}

                        <label for="{{ form.layer.id_for_label }}" class="col-sm-4 control-label"><strong>详细位置：</strong></label>
                        <div class="col-sm-8">
                            {{ form.layer }}
                        </div>
                        {% if form.layer.errors %}
                            <ul style="list-style-type:none">
                            {% for error in form.layer.errors %}
                                <li align="center" class="text-warning"><strong>{{ error }}</strong></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    {% if form.employee.errors %}
                        <div class="form-group col-md-6 has-warning">
                    {% else %}
                        <div class="form-group col-md-6">
                    {% endif %}

                        <label for="{{ form.employee.id_for_label }}" class="col-sm-4 control-label"><strong>入库人：</strong></label>
                        <div class="col-sm-8">
                            {{ form.employee }}
                        </div>
                        {% if form.employee.errors %}
                            <ul style="list-style-type:none">
                            {% for error in form.employee.errors %}
                                <li align="center" class="text-warning"><strong>{{ error }}</strong></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    {% if form.operate_date.errors %}
                        <div class="form-group col-md-6 has-warning">
                    {% else %}
                        <div class="form-group col-md-6">
                    {% endif %}

                        <label for="{{ form.operate_date.id_for_label }}" class="col-sm-4 control-label">入库时间：</label>
                        <div class="col-sm-8">
                            {{ form.operate_date }}
                        </div>
                        {% if form.operate_date.errors %}
                            <ul style="list-style-type:none">
                            {% for error in form.operate_date.errors %}
                                <li align="center" class="text-warning"><strong>{{ error }}</strong></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    {% if form.description.errors %}
                        <div class="form-group col-md-6 has-warning">
                    {% else %}
                        <div class="form-group col-md-6">
                    {% endif %}

                        <label for="{{ form.description.id_for_label }}" class="col-sm-4 control-label">备注：</label>
                        <div class="col-sm-8">
                            {{ form.description }}
                        </div>
                        {% if form.description.errors %}
                            <ul style="list-style-type:none">
                            {% for error in form.description.errors %}
                                <li align="center" class="text-warning"><strong>{{ error }}</strong></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-11">
                <button id="oper" type="submit" class="btn btn-primary">确认</button>
                <button type="button" class="btn btn-default">取消</button>
            </div>
        </div>
        {% if alert == 'T' %}
            <div id="alert" class="alert alert-dismissable alert-success">设备入库信息添加成功！</div>
        {% elif alert == 'F' %}
            <div id="alert" class="alert alert-dismissable alert-warning">添加失败，稍后请重试</div>
        {% else %}
            <div id="alert"></div>
        {% endif %}
    </form>
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/static/scripts/mainInit/stockin_detail.js"></script>
    {{ form.media }}
{% endblock %}