{% extends 'stocks/device_page.html' %}

{% block maincontent %}
{{ super() }}
<!-- Tab panes -->
<div class="tab-content">
    <input id="id" type="hidden" value="{{ deviceId }}"/>
    <table id="deviceHistoryTable" class="display" cellspacing="0" width="90%">
        <thead>
            <tr>
                <th>ID</th>
                <th>设备</th>
                <th>操作</th>
                <th>人员</th>
                <th>位置</th>
                <th>时间</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>设备</th>
                <th>操作</th>
                <th>人员</th>
                <th>位置</th>
                <th>时间</th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script type="text/javascript" src="/static/scripts/mainInit/device_stock.js"></script>
{% endblock %}