{% extends 'stocks/base_stocks.html' %}

{% block breadcrumb %}
    <li id="home"><a href="/stocks/main.html">主页</a></li>
    <li id="application"><a href="/stocks/application.html">设备申请</a></li>
    <li>
        {% if new %}
            新增设备申请
        {% else %}
            修改设备申请
        {% endif %}
    </li>
{% endblock %}

{% block maincontent %}
    <form id="applicationForm" class="form-horizontal container" method="post" action="#">
            {% csrf_token %}
            {% for hidden in form.hidden_fields() %}
                {{ hidden }}
            {% endfor %}

            <div class="panel panel-default">
                <div class="panel-body">
                    {% if form.non_field_errors() %}
                        <ul style="list-style-type:none">
                            {% for error in form.non_field_errors() %}
                                <li align="center" class="text-warning"><h2>{{ error }}</h2></li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <div class="row">
                        {% if form.employee.errors %}
                            <div class="form-group col-md-6 has-warning">
                        {% else %}
                            <div class="form-group col-md-6">
                        {% endif %}
                            <label for="{{ form.employee.id_for_label }}" class="col-sm-4 control-label"><strong>申请人：</strong></label>
                            <div class="col-sm-8">
                                {{ form.employee }}
                            </div>
                            {% if form.employee.errors %}
                                <ul style="list-style-type:none">
                                {% for error in form.employee.errors %}
                                    <li align="center" class="text-warning"><strong>{{ error }}</strong></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        {% if form.create_date.errors %}
                            <div class="form-group col-md-6 has-warning">
                        {% else %}
                            <div class="form-group col-md-6">
                        {% endif %}
                            <label for="{{ form.create_date.id_for_label }}" class="col-sm-4 control-label">申请时间：</label>
                            <div class="col-sm-8">
                                {{ form.create_date }}
                            </div>
                            {% if form.create_date.errors %}
                                <ul style="list-style-type:none">
                                {% for error in form.create_date.errors %}
                                    <li align="center" class="text-warning"><strong>{{ error }}</strong></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">设备申请</h3>
                </div>
                <table class="table" align="center">
                    <tr><th><h5><strong>设备描述</strong></h5></th><th><h5><strong>设备数量(仅为数字)</strong></h5></th><th><h5><strong>安装位置</strong></h5></th></tr>
                    {% for df in device_forms %}
                        {% for hidden in df.hidden_fields() %}
                            {{ hidden }}
                        {% endfor %}
                        <tr>
                            {% if df.device.errors %}
                                <th class="has-warning">
                            {% else %}
                                <th>
                            {% endif %}
                                {{ df.device }}
                                {% if df.device.errors %}
                                    <ul style="list-style-type:none">
                                    {% for error in df.device.errors %}
                                        <li align="center" class="text-warning"><strong>{{ error }}</strong></li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </th>
                            {% if df.number.errors %}
                                <th class="has-warning">
                            {% else %}
                                <th>
                            {% endif %}
                                {{ df.number }}
                                {% if df.number.errors %}
                                    <ul style="list-style-type:none">
                                    {% for error in df.number.errors %}
                                        <li align="center" class="text-warning"><strong>{{ error }}</strong></li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </th>
                            {% if df.location.errors %}
                                <th class="has-warning">
                            {% else %}
                                <th>
                            {% endif %}
                                {{ df.location }}
                                {% if df.location.errors %}
                                    <ul style="list-style-type:none">
                                    {% for error in df.location.errors %}
                                        <li align="center" class="text-warning"><strong>{{ error }}</strong></li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </th>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">散料申请</h3>
                </div>
                <table class="table" align="center">
                    <tr><th><h5><strong>散料描述</strong></h5></th><th><h5><strong>申请数量(仅为数字)</strong></h5></th><th><h5><strong>使用位置</strong></h5></th></tr>
                    {% for df in material_forms %}
                        {% for hidden in df.hidden_fields() %}
                            {{ hidden }}
                        {% endfor %}
                        <tr>
                            {% if df.device.errors %}
                                <th class="has-warning">
                            {% else %}
                                <th>
                            {% endif %}
                                {{ df.device }}
                                {% if df.device.errors %}
                                    <ul style="list-style-type:none">
                                    {% for error in df.device.errors %}
                                        <li align="center" class="text-warning"><strong>{{ error }}</strong></li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </th>
                            {% if df.number.errors %}
                                <th class="has-warning">
                            {% else %}
                                <th>
                            {% endif %}
                                {{ df.number }}
                                {% if df.number.errors %}
                                    <ul style="list-style-type:none">
                                    {% for error in df.number.errors %}
                                        <li align="center" class="text-warning"><strong>{{ error }}</strong></li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </th>
                            {% if df.location.errors %}
                                <th class="has-warning">
                            {% else %}
                                <th>
                            {% endif %}
                                {{ df.location }}
                                {% if df.location.errors %}
                                    <ul style="list-style-type:none">
                                    {% for error in df.location.errors %}
                                        <li align="center" class="text-warning"><strong>{{ error }}</strong></li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </th>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="{{ form.description.id_for_label }}" class="col-sm-4 control-label">备注：</label>
                    <div class="col-sm-8">
                        {{ form.description }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-11">
                    <button id="oper" type="submit" class="btn btn-primary">确认</button>
                    <button type="button" class="btn btn-default">取消</button>
                </div>
            </div>
            {% if alert == 'T' %}
                <div id="alert" class="alert alert-dismissable alert-success">设备申请信息添加成功！</div>
            {% elif alert == 'F' %}
                <div id="alert" class="alert alert-dismissable alert-warning">添加失败，稍后请重试</div>
            {% else %}
                <div id="alert"></div>
            {% endif %}
    </form>
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/static/scripts/mainInit/application_detail.js"></script>
    {{ form.media }}
{% endblock %}